@import "bootstrap";

body
{
  background-image: url('/assets/bg.jpg');
  font-family: verdana;
  font-size: 14px;
}

#showPatient{
  font-size: 23px;
  font-family: monospace;
  width: 700px;
  margin: 0 auto;
  border: 2px solid black;
}
